*{
  margin: 0;padding: 0;
  /* box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear; */
  scroll-behavior: smooth;

}
body{
background:linear-gradient(rgba(251, 28, 255, 0.575),
rgba(27, 225, 255, 0.356)) no-repeat fixed;  
--load-time:1s;  

}

/* .introimg{
text-align: center;
} */
/* .svg{
 
  height: 10em;
  width: 30em;
} */









body::-webkit-scrollbar{
background:linear-gradient(rgba(102, 55, 104, 0.507),rgba(120, 206, 221, 0.377));
width: 6px;
}

body::-webkit-scrollbar-thumb{
  background:linear-gradient(rgb(102, 55, 104),rgba(120, 206, 221, 0));
}
/* .dark-mode::-webkit-scrollbar-thumb{
  
    background-color: rgb(0, 0, 0);
  } */





